* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  height: 90px;
  width: 100%;
  padding: 20px 0 0 0;
  text-align: center;
}